.panel-primary {
    border-color: #dddddd;
    border: 2px black;
}

#heat-map {

    width: 850px;
    height: 550px;
}


#marker-map {
    width: 850px;
    height: 550px;
}

#bubble {
    width: 600px;
    height: 400px;
    align-content: center;

}

#bar {
    width: 600px;
    height: 400px;

}

img {
    width: 100%;
}

#sample-metadata {
    font-size: 0.75rem
}

body {
    /* background-color:rgba(9, 111, 26, 0.219);*/
    background-color: rgba(7, 199, 138, 0.219);

}


.jumbotron {
    background-image: url("https://images.unsplash.com/photo-1524168272322-bf73616d9cb5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
    background-position: center;
}

/* Tabs */
.tabs {
    background: var(--text-background-color);
    /* background: var(--dark-color); */
    padding-top: 0.5rem;
    border-bottom: 1px solid #3d3d3d;
}

.tabs .container {
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.tabs p {
    font-size: 1rem;
    padding-top: 0.1rem;
}

.tabs .container>div {
    padding: 0.1rem 0;
}

.tabs .container>div:hover {
    color: #fff;
    /* cursor: pointer; */
    cursor: not-allowed;
}

.section-heading h6 {
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.25px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.section-heading h2 {
    font-size: 32px;
    font-weight: 800;
    letter-spacing: 1px;
    margin-top: 20px;
    margin-bottom: 0px;
}

/* PARAGRAPH ELEMENT - TEXT COLOR (ALEJANDRO, ANU, KORBIN, YALU) */
p {
    margin: 0.5rem 0;
    /* color: #fff; */
    color: black;
    /* color: yellow; */
    font-weight: 700;
}

/* a tag ELEMENT - TEXT COLOR (ALEJANDRO, ANU, KORBIN, YALU) */
a {
    margin: 0.5rem 0;
    /* color: #fff; */
    /* color: black; */
    color: rgba(19, 23, 224, 0.733);
    font-weight: 600;
}